# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8c100bab9f37027a25cc49ca6b5fecd5abab91fd54a5e3b8ad7755ccc55e12f551325ce9728158061acb3dc8b94ac45ebbd277f1edf352713a3633383404f4cf
  aws_access_key_id:
  aws_secret_access_key:
  aws_region:
  aws_bucket:

test:
  secret_key_base: 02c85b9e2b463de88ddfc524750b1465024c2ff046d10214b8b5ba4184cb21c4ef862f3208dcefb8f343e4f75fef7dcc4bbeabefa64d4f11493477ebd501aa50

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
